/* medical page */
.medicalScreen {
    background-color: white;
    /* overflow: hidden; */
    z-index: 1;
}
.medTitle {
    position: absolute;
    top: 11%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.medTitle img {
    width: 55px;
}
.medTitle .titleDive {
    font-size: 40px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 40px;
    margin-top: 4px;
    transform: scale(0);
    transition: 0.7s;
    transition-delay: 1s;
}
.medTitle h6 {
    margin: 3px;
    color: #043673;
    padding: 0px 10px;
    font-size: 20px;
}
.navbar {
    /* position: absolute; */
    width: 100%;
    /* background-color: transparent; */
    background-color: transparent;
}

.demo {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 11px;
    background-color: #ed7d31;
    color: white;
    padding: 7px 30px;
    font-weight: bold;
}
.demo p {
    margin: 0px;
}
.medicalScreen {
    /* display: none; */
    /* transform: scale(0); */
    display: block;
    transition: 2s;
    overflow: hidden;
    height: 100vh;
}

.medicalinner {
    /* background-image: url(images/medical/Asset5@2x.png); */
    transition: 2s;
    width: 100%;
    height: 100vh;
    background-size: 1129px 576px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 5px;
    transform: scale(0);
    overflow: hidden;
}
.medicalScreen .icons img {
    width: 70px;
    height: 50px;
}
.mapIcon img {
    float: right;
    width: 60px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    width: 98%;
}
.plant1 {
    height: 197px;
    position: absolute;
    top: 76% !important;
    left: 13% !important;
    transform: translate(-13%, -76%) !important;
}
    

.plant2 {
    height: 140px;
    position: absolute;
    top: 77% !important;
    left: 65% !important;
    transform: translate(-65%, -77%) !important;
   
}
.passport {
    width: 60px;
    position: absolute;
    top: 85%;
    right: 10px;
    z-index: 999999;
}
.pass-div {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: baseline;
    position: absolute;
    top: 56%;
    left: 50%;
    zoom: 85%;
    transform: translate(-50%, -56%);
 
}
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
.position1 {
    position: relative;
    /* width: 1010px; */
    /* left: 140px; */
    top: 155px;
    transition: 0.7s;
    /* height: 430px; */
    max-width: 33%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    z-index: 3;
    /* display: none; */
}
.video #videoinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 60%;
    border: none;
    background: transparent;
    z-index: 4;
    position: absolute;
}

.video img {
    width: 350px;
}
.videoSlider {
    position: relative;
    top: -400px;
    transition: 0.7s;
    right: 0px;
    opacity: 1;
}

.video #videoinner button {
    /* position: absolute; */
    font-size: 70px;
    color: #0077c1;
}
.video p {
    margin: 0px;
    color: #0077c1;
    font-weight: bold;
}
.slider {
    background-color: white;
    position: relative;
    width: 344px;
    box-shadow: 0 8px 6px -6px rgb(99, 98, 98);
    top: 20px;
    left: 50px;
    border-radius: 30px;
    /* display: flex;
    align-items: center; */
    padding: 0px 6px;
    /* color: #0077c1; */
    transition-delay: 2s;
    /* display: none; */
}
.slider .sliderText p {
    padding: 4px 18px;
    font-weight: bold;
    color: #0077c1;
}
.slider .sliderText i {
    font-size: 40px;
    color: #0077c16e;
}
.slider .sliderText i:hover {
    color: #0077c1;
}
.sliderText {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .indicator i {
    font-size: 10px;
    padding: 3px;
    color: gray;
}
.slider .indicator i:hover {
    font-size: 10px;
    padding: 3px;
    color: #0077c1;
}
.position2 {
    position: relative;
    /* right: 27%; */
    top: 155px;
    /* height: 430px; */
    max-width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.lady {
    z-index: 99996;
    transition: 0.7s;
    left: 0px;
    opacity: 1;
}
.lady a img {
    width: 170px;
    transition: 0.7s;
}
.lady .textbox {
    width: 170px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    top: -81px;
    left: -79px;
    position: absolute;
}
.textbox p {
    padding: 0px 10px;
}
.position3 {
    position: relative;
    /* right: 0%; */
    top: 155px;
    font-weight: bold;
    transition: 1s;
    /* height: 430px; */
    max-width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.selfService img {
    width: 240px;
}
.selfService {
    opacity: 1;
    transform: scale(1);
    transition: 0.7s;
}

.selfTxt {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 21px;
    margin: 10px 0px;
    left: 29%;
    top: 0%;
}
@media screen and (min-width: 1500px) {
    .medicalinner {
        background-size: 1439px 706px;
    }
    .plant1 {
        height: 277px;
        position: absolute;
        top: 414px;
        left: 345px;
    }

    .plant2 {
        height: 220px;
        position: absolute;
        left: 1181px;
        top: 483px;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1442px) {
    /* .video img {
        width: 270px;
    } */
    .titleDive {
        margin-top: 3% !important;
    }
    .selfTxt {
        z-index: 1;
        top: -10%;
        left: -2%;
    }
    .selfService img {
        position: relative;
        top: -39px;
        left: -64px;
        width: 225px;
    }
    .videoSlider {
        position: relative;
        top: -448px;
    }
    .videoSlider2 {
        right: 370px !important;
    }
    .pass-div {
        display: flex;
        width: 80%;
           top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    /* .video img {
        width: 420px;
    } */
    .slider {
        background-color: white;
        position: relative;
        width: 372px;
        box-shadow: 0 8px 6px -6px rgb(99, 98, 98);
        top: 20px;
        left: 73px;
        border-radius: 30px;
        padding: 0px 6px;
        /* color: #0077c1; */
        transition-delay: 2s;
    }
    .lady a img {
        width: 45%;
    }
    .textbox {
        width: 190px;
        height: 170px;

        left: 37px !important;
    }
    .lady a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .position1 {
        top: 208px;
    }

    .videoSlider {
        margin-top: 170px;
    }
    .videoModal {
        zoom: 140%;
    }
    .pdfModal{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 170px 0px;
        /* position: absolute; */
        /* top: 50px; */
        /* zoom: 93%; */
        transform: scale(0);
        transition: 0.7s;
    }
    .plant1{
        top: 60% !important;
    left: 20% !important;
    transform: translate(-20%, -60%) !important;
    }
    .plant2{
        top: 60% !important;
        left: 65% !important;
        transform: translate(-65%, -60%) !important;
    }

}

@media screen and (max-width: 1440px) and (min-width: 1367px) {
    .titleDive {
        margin-top: 2% !important;
    }

    .videoSlider {
        margin-top: 100px;
    }
    .pdfModal{
        top: 90px !important;
    zoom: 80% !important;
    }
}
@media screen and (max-width: 1366px) and (min-width: 1263px) {
    .videoSlider {
        margin-top: 50px;
        margin-left: 90px;
    }
}
@media screen and (max-width: 1262px) and (min-width: 1116px) {
    .titleDive{
        margin-top: 2% !important;
    }
    .medicalinner {
        background-size: 1030px 446px;
    }
    .pass-div{
        margin-top: 4%;
    }
    .video img {
        width: 270px;
    }
    .videoSlider2 {
        right: 280px !important;
    }
    .selfTxt {
        z-index: 1;
        top: -10%;
        left: -2%;
    }
    .selfService img {
        position: relative;
        top: -39px;
        left: -64px;
        width: 225px;
    }
    .slider {
        width: 245px;
        font-size: 11px;
    }
    .lady a img {
        width: 150px;
    }
    /* .position2 {
        right: 24%;
    } */
    .plant2 {
        height: 140px;
        position: absolute;
        left: 820px;
        top: 369px;
    }
    .plant1 {
        height: 167px;
        position: absolute;
        top: 314px;
        left: 145px;
    }
}
/* 
@media screen and (max-width:1115px) and (min-width:1026px){
    
    @media screen and (min-width: 1025px) {
        
    }
} 
*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .medicalinner {
        background-size: 990px 500px;
    }

    .plant1 {
        height: 157px;
        position: absolute;
        top: 354px;
        left: 75px;
    }
    .video img {
        width: 270px;
    }
    .slider {
        width: 245px;
        font-size: 11px;
    }
    .lady a img {
        width: 140px;
    }
    .lady .textbox {
        width: 160px;
    }
    /* .position2 {
        right: 21%;
    } */
    .videoSlider {
        position: relative;
        top: -305px;
    }
    .videoSlider2 {
        right: 66% !important;
        margin-top: 40px;
    }

    .selfService img {
        width: 200px;
    }
    .plant2 {
        height: 140px;
        position: absolute;
        left: 615px;
        top: 344px;
    }

    .passport {
        top: 82%;
    }
    .videoModal {
        top: 60% !important;
        zoom: 79% !important;
    }
    .titleDive {
        margin-top: 32px !important ;
    }
    .sb-chat {
        left: 55% !important;
    }
    .pdfModal{
        top: 143px !important; 
    zoom: 70% !important;
    }
}
.Mobile-medical {
    display: none;
}
.web-medical {
    display: flex;
}
@media screen and (max-width: 768px) and (min-width: 601px) {
    .medicalinner {
        background-size: 650px 390px;
        overflow: auto;
    }
    /* .passport{
       top: 100%;
    right: 10px;
    transform: translate(-100px,100%);
   } */
   .pass-div{
    height: 100vh;
   }
    .titleDive {
        margin-top: 32px !important;
    }
    .plant1 {
        height: 127px;
        position: absolute;
        top: 324px;
        left: 85px;
    }
    .video img {
        width: 220px;
    }
    /* .video img {
        width: 270px;
    } */
    .slider {
        width: 245px;
        font-size: 11px;
    }
    .passport {
        position: absolute !important;
    }
    /* .slider {
        background-color: white;
        position: absolute;
        width: 245px;
        top: 161px;
        left: 94px;
        border-radius: 30px;
        padding: 0px 6px;
        /* color: #0077c1; */
    /* transition-delay: 2s; */
    /* font-size: 10px; */
    /* } */
    /* .position1 {
        left: 50px !important;
        align-items: unset;
        justify-content: unset;
    } */
    .lady a img {
        width: 100px;
    }
    .lady .textbox {
        width: 145px;
        font-size: 13px;
        left: -34px;
    }
    .plant2 {
        height: 110px;
        position: absolute;
        left: 441px;
        top: 350px;
    }
    .position1 {
        position: relative;
        /* width: 1010px; */
        /* left: 140px; */
        top: 0px;
        transition: 1s;
        /* height: 430px; */
        max-width: 90%;
        width: 85%;
        margin: auto;
        /* align-items: center; */
        justify-content: center;
        z-index: 3;
    }
    .position2 {
        position: relative;
        /* right: 27%; */
        top: 0px;
        width: 100%;
        /* height: 430px; */
        width: 85%;
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .selfTxt {
        position: absolute;
        text-align: center;
        color: white;
        font-size: 21px;
        margin: 10px 0px;
        left: 27%;
        top: -2%;
    }
    .videoSlider {
        position: relative;
        top: 0px;
        /* margin-left: 960px;
    margin-top: 40px; */
    }
    .slider {
        left: 10px;
    }
    .position3 {
        position: relative;
        /* right: 0%; */
        top: 0px;
        font-weight: bold;
        transition: 1s;
        /* height: 430px; */
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        margin: auto;
        /* display: none; */
    }
    .selfService img {
        width: 160px;
    }
    /* .passport {
        top: 472px;
    } */
    /* .selfTxt {
        margin: 0px;
        left: 61%;
        text-align: left;
        z-index: 1;
    } */
    .pasportDiv {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        /* position: fixed; */
        /* position: sticky; */
        justify-content: flex-end;
        /* left: rig; */
        right: 30px;
        top: 460px;
        padding: 10px 0px;
    }

    .passport {
        position: initial;
    }

    .videoModal {
        zoom: 60%;
        margin: 0px;
    }
    .sb-chat {
        left: 57% !important;
    }
    .pdfModal{
        top: 18% !important;
        left: 7% !important;
        position: absolute !important;
    }
    .pdfIcons img{
        width: auto;
    }
    .backbutton{
        left: 0 !important;
        width: 63px !important;
        top: 11% !important;
    }
}
@media screen and (max-width: 600px) {
    .web-medical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .position1 {
        margin-top: 50px;
    }
    .position2 {
        margin-top: 50px;
    }
    .position3 {
        position: initial;
        top: auto;
        margin-top: 180px;
    }
    .position3 .videoSlider {
        position: initial;
        top: 0px;
    }
    .medicalinner {
        background-size: 615px 376px;
        height: 1700px;
        background-attachment: fixed;
    }
    .medicalScreen {
        height: 1700px;
    }
    .passport {
        top: 93% !important;
    }
    .slider {
        left: 0px;
    }

    .video img {
        width: 350px !important;
    }
    .selfTxt {
        left: 25%;
        top: 0%;
        width: 110px;
    }
    .videoModal {
        position: absolute !important;
        width: 100% !important;
        display: unset !important;
        /* align-items: center; */
        /* justify-content: center; */
        margin:0px !important;
        z-index: 99;
        /* flex-direction: row-reverse; */
        transform: scale(0);
        transition: 0.7s;
        top: 20% !important;
    }
    #videoModalpic {
        height: unset !important;
        position: unset !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        
    }
    #videoModalpic img{
        width: 100%;
    }
    .videoplayback{
        padding: 10px 30px !important;
        position: unset !important;
        right: unset !important;
        /* width: 75%; */
        background: #4a7cab;
        display: flex;
        width: 40% !important;
        border-radius: 10px;
        overflow-y: scroll;
        font-size: 12px;
        color: white;
        font-weight: bold;
        z-index: 11;
        max-height: 210px;
    
    }
    
    /* .videoplayback {
        position: relative !important; 
        right: 0px !important;
        background: #4a7cab !important;
        display: flex;
    
        color: white !important;
        font-weight: bold !important;
        z-index: 11 !important;
        top: 320px !important;
        width: 630px !important;
    } */
    .pdfModal{
        flex-direction: column;
        height: 100%;
    }
    .pdfFile{
        height: auto !important;
    }
    .pdfPic{
        min-width: 470px;
        max-width: 472px !important;
        margin-top: 140px;

    }
    .pdfslider{
        left: -17px !important;
    }
    .backbutton{
        top: 70px !important;
    }
    #flipCon{
        width: 100% !important;
    }
    .pdfIndicator{
        margin-top: 46px;
    }

}


.time {
    float: right;
}

.chatBot {
    display: none;
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: brown;
    top: 0;
}
.chatBot .hiddenDiv {
    opacity: 0;
    transition: 0.6s ease-in-out;
}
.backbutton {
    left: 2%;
    transform: translate(-2%, -50%);
    position: absolute;
    top: 50%;
    /* font-size: 63px; */
    padding: 0px 9px;
    /* border-radius: 50%; */
    z-index: 10000;
    /* display: none; */
    background-color: transparent;
    border: none;
    /* color: #4a7cab; */
    outline: none;
    transform: scale(0);
    width: 70px;
}
.backbutton img{
    width: 100%;
}

.mySlides {
    width: 90%;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 6px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.innerSlider {
    display: flex;
    align-items: center;
}
/* flip book */
.flipbook-main-wrapper {
    width: 100%;
    height: 60vw;
    height: 570px !important;
}
.fa-angle-left {
    background-color: #0e4d92 !important;
}

.fa-angle-right {
    background-color: #0e4d92 !important;
}
.flipbook-menuBottom {
    display: none;
}
#flipCon {
    /* display: none; */
    position: absolute;
    width: 800px;
    top: 80px;
}
/* width: 800px;
    height: 541.011px; */
.flipbook-bookLayer {
    top: -13px !important;
}
.pdfModal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 170px 0px;
    position: unset;
    display: none;
    top: 50px;
    zoom: 93%;
    transform: scale(0);
    transition: 0.7s;
}
.pdfFile {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.pdfPic {
 
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pdfPic img {
    width: 100%;
}
.pdfslider{
    position: absolute;
    /* left: 10px; */
    left: 31%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 190px;

    
}
.pdfIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-right: 2%;
    


}
.pdfIcons i{
    z-index: 99999;
    font-size: 30px;
    color: #0077c1;
    opacity: 0.7;
    transition: 0.2s;
}
.pdfIndicator i{
    z-index: 99999;
    font-size: 20px;
    color: #0077c1;
    opacity: 0.7;
    transition: 0.2s;
    margin-top: 1.2%;
}
.pdfIcons i:hover{
    opacity: 1;
}

.pdfIndicator i:hover{
    opacity: 1;
}
.active{
    opacity: 1 !important; 
    background-color: transparent;

}

.pdfslider img{
    width: 80px;
    z-index: 99999;
}
.pdfIndicator{
    margin-top: 1.3%;
}
.pdfImages{
    display: flex;
    align-items: center;
}
.pdfImages div{
    width: 80px;
    padding: 3px;
}
.pdfImages img{
width: 100%;
}
.videoModal {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 160px 0px 0px 0px; */
    z-index: 99;
    flex-direction: row-reverse;
    transform: scale(0);
    transition: 0.7s;
    top: 56%;
    /* LEFT: 50px; */
}
#videoModalpic {
    height: 460px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30%;
}
#videoModalpic img {
    height: 100%;
    z-index: 10;
}
#videoModalpic #videobutton {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 100px;
    color: #0077c1;
    z-index: 10;
}
.videoplayback {
    position: absolute;
    /* right: unset; */
    background: #4a7cab;
    display: flex;
    width: 230px;
    color: white;
    font-weight: bold;
    z-index: 11;
    left: 13%;
    border-radius: 20px;
    max-height: 230px;
    /* overflow-y: scroll; */
    /* max-height: 189px; */
}
.videoMenu {
    width: 100%;
}
.videolist{
    overflow-y: scroll;
    height: 180px;
}
.videolist p {
    width: 100%;
}
.videolist div {
    display: flex;
    align-items: center;
    width: 100%;
}
.videolist .time {
    float: right;
}
.videoplayback h5 {
    text-align: center;
    font-size: 20px;
    margin: 13px;
}
.videoplayback {
    padding: 10px;
}
.videolist p {
    margin: 9px;
}
.videoplay {
    position: absolute;
    z-index: 0px;
    display: none;
    height: 90%;
    width: 94%;
}
.ladyexpnd {
    position: absolute;
    position: absolute;
    display: flex;
    top: 140px;
    transform: scale(0);
    transition: 0.7s;
}
.ladyexpnd .chatBotdiv {
    width: 380px;
    height: 430px;
    background-color: white;
}

.ladyexpnd img {
    width: 260px;
}
.sb-body {
    max-height: 354px !important;
    bottom: 85px !important;
}
.sb-chat {
    top: 90%;
    left: 54%;
    transform: translate(-50%, 50%);
    bottom: unset !important;
    right: unset !important;
    transform: scale(0);
    transition-delay: 1s;
    transition: 0.7s;
}

/*
.sb-chat-btn{
    right: unset !important;
    bottom: 90px !important;
} */
